nav {
    background-color: #212529;
}

#home {
    background-image: url('../img/flag_grid.png');
    background-repeat: repeat-x;
    background-color: #212529;
    background-position: top center;
    padding-bottom: 300px;
}

footer {
    text-align: right;
    padding: 3px;
    padding-top: 18px;
    padding-right: 20px;
    background-color: #212529;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

#frame {
    background-color: #f8f9fa;
    opacity: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid #3459e6;
}

#tableau {
    max-height: 1900px;
    height: 100%;
    width: 100%;
}

h1 {
    padding-top: 20px;
    color: #287bb5;
}