nav {
    background-color: #212529;
}

#home {
    background-image: url('../img/flag_grid.png');
    background-repeat: repeat-x;
    background-color: #212529;
    background-position: top center;
    padding-bottom: 300px;
}

#footer_link {
    float: left;
    color: #2fb380;
    padding-left: 30px;
}

footer {
    text-align: right;
    padding: 3px;
    padding-top: 18px;
    padding-right: 30px;
    background-color: #212529;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

.descriptor {
    text-align: center;
    font-size: x-small;
}

h1 {
    padding-top: 20px;
    color: #287bb5;
}

#brand-logo {
    filter: invert(100%);
}

#list-pad {
    margin-bottom: 30px;
}